<!DOCTYPE html>
<html lang="pt-br" class="h-100">
    <head>
        <meta charset="utf-8">
        <title>Download do Vídeo</title>
        <script src="https://cdn.jsdelivr.net/npm/web-streams-polyfill@2.0.2/dist/ponyfill.min.js"></script>
        <script src="{{url_for("static", filename="StreamSaver.js")}}"></script>        
        <script src="{{url_for("static", filename="sw.js")}}"></script> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for("static", filename="bootstrap.css")}}" rel="stylesheet">
        <style type="text/css">
            input[type="text"]:focus, input[type="password"]:focus {
                outline : none !important;
                box-shadow: 0px 0px 1px 1px rgba(255, 221, 89,1.0);  
            }
            
            label {
                color: rgba(255, 211, 42,1.0) !important;
            }

            button[type="submit"]:hover {
                color: white;
            }

            .bg { 
                background-image: url("{{url_for("static", filename="CamposFloridos.jpg")}}");

                /* Full height */
                height: 100%; 

                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .custom-control-input:checked ~ .custom-control-label::before {
                color: #fff;
                border-color: #ffc107;
                background-color: #ffc107;
            }

            .custom-control-input:focus ~ .custom-control-label::before {
                box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
            }

        </style>
        <script>
            import streamSaver from 'streamsaver'
            const streamSaver = require('streamsaver')
            const streamSaver = window.streamSaver
        </script>

    </head>
    <body class="h-100" style="background-color: rgba(0,0,0,1)">
        <div class="bg">
        <div class="container-md h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="card border border-warning" style="background-color:rgba(255,255,255,1)">
                    <div class="card-body m-3">
                        <form onsubmit="return false">
                            <div class="form-group row">
                                <label for="video" class="col-sm-4 col-form-label">Baixe seu Vídeo:</label>
                                <input type="text" class="form-control col-sm-8 border border-warning text-body" name="videolink" id="video" placeholder="Coloque o link do vídeo aqui!">
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="partOne" name="partVideo">
                                    <label for="partOne" class="custom-control-label">Parte 1</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="partTwo" name="partVideo">
                                    <label for="partTwo" class="custom-control-label">Parte 2</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" class="custom-control-input" id="partThree" name="partVideo">
                                    <label for="partThree" class="custom-control-label">Parte 3</label>
                                </div>
                                <small class="text-dark mt-1">Não selecione nenhuma para baixar todas :D</small>
                            </div>
                            <div class="form-group row">
                                <button type="text" id="buttonClick" class="btn btn-outline-warning btn-block z-depth-5" onclick="return findVideo(); return false;">Baixar vídeo</button>
                            </div>
                        <form>
                        <div class="row">
                            <div id="information" class="alert alert-warning alert-dismissible fade show" role="alert" style="width:100%">
                                <strong><b>Informações:</b></strong> Insira um link para download!
                            </div>
                        </div>
                        <div class="progress" id="progressDiv" hidden>
                            <div class="progress-bar bg-success" id="progressBar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>
                        <div class="text-center">
                            <div id="requestStatus" class="spinner-grow text-warning" role="status" hidden>
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="text-right">
                            <small><a href="/logout">Sair da sua conta</a></small>
                        </div>
                     </div>
                </div>
            </div>
        <script src="{{url_for("static", filename="download.js")}}"></script>
        <script type="text/javascript">
            async function findVideo() {
                var partNumber = 0;
                var partChecked = document.getElementsByName("partVideo");
                for(var value = 0; value < 3; value++) {
                    if(partChecked[value].checked == true) {
                        partNumber = value + 1;
                        break;
                    }
                }
                var alert = document.getElementById("information");
                alert.innerHTML = `
                               <strong>Informações:</strong> Requisição enviada estamos processando seu vídeo :D
                               `;
                document.getElementById("requestStatus").hidden = false;
                document.getElementById("buttonClick").disabled = true;
                var linkVideo = document.getElementsByName("videolink")[0].value;
                var statusWorker = "";
                var response = await fetch("/videoworker", {method:"POST", body:[linkVideo, partNumber]});
                await new Promise(r => setTimeout(r, 30000));
                while (true) {
                    var response = await fetch("/getlink", {method:"POST"});
                    var blob = await response.blob();
                    var text = await blob.text().then(function(text) {return text;});
                    if (text != "Not Ready" && text != "Dont found this video") {
                        alert.className = "alert alert-danger alert-dismissible fade show"
                        alert.innerHTML = `
                               <strong>Informações:</strong> Infelizmente houve algum erro na busca do vídeo :(, fale com allan pra ele resolver! 
                               `;
                        document.getElementById("buttonClick").disabled = false;
                        return false
                    } else if (text == "Dont found this video") {
                        alert.className = "alert alert-danger alert-dismissible fade show"
                        alert.innerHTML = `
                               <strong>Informações:</strong> Infelizmente não foi possível encontrar esse vídeo :(, tente novamente por favor!
                               `;
                        document.getElementById("buttonClick").disabled = false;
                        return false
                    } 
                    await new Promise(r => setTimeout(r, 5000));
                }
                var listData = text.split("|||")
                var title = listData[0];
                var link = listData[1];
                var package = listData[2];
                              
                alert.className = "alert alert-success alert-dismissible fade show";
                alert.innerHTML = `
                            <strong>Informações:</strong> Tudo Certo :) O download já vai começar! Não esqueça de permitir os download e a abertura de popups no site
                            `;
                document.getElementById("requestStatus").hidden = true;
                document.getElementById("progressDiv").hidden = false;
                await download(link, title, package, partNumber);
                alert.className = "alert alert-info alert-dismissible fade show";
                alert.innerHTML = `
                            <strong>Informações:</strong> Uhuuu seu download deu certo! Acabando esse já pode fazer outro :D
                            `;
                document.getElementById("buttonClick").disabled = false;
                return false;
            }

        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


    </body>
</html>
    
